* {
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

body {
    font-family: bebas-neue,sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #6003c3;
    width: 100%; 
    vertical-align: middle;
    text-align: center;
}

h1 { 
    color: white;
    padding: 50px 0; 
    font-size: 3rem;
}

h2 {
    color: #6003c3;
    font-size: 1.3rem; 
    text-align: center;
    padding-top: 20px;
}

section {
    width: 250px;
    height: 250px;
    margin: 25px auto;
    border: #6003c3; 
    border-width: 10px; 
    border-radius: 5px;
    border-style: solid;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 5px 5px grey;
}

.section1 {
    background-color: #fcff00;
}

.section2 {
    background-color: #57ffc9; 
}

.section3 {
    background-color: #a5ff01;
}

.red {
    background-color: #e34040; 
}

 h3 {
    color: #6003c3;
    font-size: 7rem;
    padding: 63px 0; 
}

h4 {
    color: #e34040;
    font-size: 1.4rem;
    padding: 20px 0;
    text-align: center;
}

#block {
    display: block;
    width: 100%; 
    margin: 15px 42%;
    padding-bottom: 50px; 
}

#button {
    background-color: #6003c3;
    text-align: center;
    color: white; 
    text-decoration: none;
    padding: 15px;
    margin: 20px 0; 
}

.hide {
    display: none;
}

@media(min-width: 850px) {
    #container {
        display:flex;
        padding-top: 30px; 
    }

    h1 {
        padding: 35px 0;
        font-size: 4rem;
        line-height: 3.5rem;
    }

    h2 {
        font-size: 1.8rem; 
        padding-top: 40px; 
    }

    #block {
        margin: 15px 45%; 
    }
}